<main class="container-lg pt-4">
    <section class="order pt-4 d-flex flex-column align-items-center wow animate__flipInX">
        <h2 class="mb-5">Сделать заказ</h2>
        <form class="mt-2" action="#">
            <div class="row row-cols-1 row-cols-md-3 mb-3">
                <div class="col">
                    <label for="nameInput" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="nameInput">
                </div>
                <div class="col">
                    <label for="lastnameInput" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="lastnameInput">
                </div>
                <div class="col">
                    <label for="phoneInput" class="form-label">Телефон</label>
                    <input type="text" class="form-control" id="phoneInput">
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 mb-3">
                <div class="col">
                    <label for="countryInput" class="form-label">Страна</label>
                    <input type="text" class="form-control" id="countryInput">
                </div>
                <div class="col">
                    <label for="postCodeInput" class="form-label">Индекс</label>
                    <input type="text" class="form-control" id="postCodeInput">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="addressInput" class="form-label">Адрес</label>
                    <input type="text" class="form-control" id="addressInput">
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-2 hvr-rectangle-out" style="width: 156px;">Отправить
            </button>
        </form>
    </section>
</main>
