<main class="container-lg pt-4 modal-open">
    <section id="main-task-section" class="content mb-4 wow animate__fadeInRight">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/banner_1_1.png" class="d-block w-100" alt="Banner 1">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/banner_1_2.png" class="d-block w-100" alt="Banner 2">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img src="../../../assets/images/banner_1_3.png" class="d-block w-100" alt="Banner 3">
                </div>
            </ng-template>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-autoplay"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-autoplay"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </ngb-carousel>
    </section>

    <section class="faq pt-4 px-3 mb-5 w-75 mx-auto">
        <h2 class="mb-5 text-center">Ответы на часто задаваемые вопросы</h2>
        <ngb-accordion [closeOthers]="true" activeIds="acc-item-0">
            <ngb-panel *ngFor="let faqItem of faqList; let i=index" id="acc-item-{{i}}" [cardClass]="'border-0'">
                <ng-template ngbPanelTitle>
                    {{faqItem.question}}
                </ng-template>
                <ng-template ngbPanelContent>
                    {{faqItem.answer}}
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </section>

    <popup-component></popup-component>
</main>
