<main class="container-lg pt-4">
    <section class="products mb-5 wow animate__fadeIn">
        <h2 class="text-center pt-5 pb-5 mb-1">Наши чайные коллекции</h2>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_1.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_1.png" alt="Product 1">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Детокс чай лайм</h5>
                        <p class="card-text mb-4">Великолепный чай внесет в вашу жизнь яркие краски и вкус
                            расслабления</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_2.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_2.png" alt="Product 2">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Ягодный чай</h5>
                        <p class="card-text mb-4">Нотки ягод позволят вам расслабиться и насладиться великолепием этого
                            чая</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_3.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_3.png" alt="Product 3">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Цветочный чай</h5>
                        <p class="card-text mb-4">Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_4.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_4.png" alt="Product 4">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Очищающий чай</h5>
                        <p class="card-text mb-4">Бесподобный чай для получения утреннего заряда бодрости</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_5.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_5.png" alt="Product 5">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Кислый чай</h5>
                        <p class="card-text mb-4">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 26rem;">
                    <a href="assets/images/product_6.png" class="product-image-popup d-block">
                        <img class="card-img-top" src="assets/images/product_6.png" alt="Product 6">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Лимонная мята</h5>
                        <p class="card-text mb-4">Смесь лимона с мятой сделает ваш день самым лучшим</p>
                        <a href="#" class="btn btn-primary w-50 hvr-rectangle-out">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
