<section class="container-lg pt-4">
    <section class="products mb-5 wow animate__fadeIn">
        <div *ngIf="searchQuery; then searchTitle else defaultTitle"></div>
        <ng-template #searchTitle>
            <h2 class="text-center pt-5 pb-5 mb-1">Результаты поиска по запросу: «{{searchQuery}}»</h2>
        </ng-template>
        <ng-template #defaultTitle>
            <h2 class="text-center pt-5 pb-5 mb-1">Наши чайные коллекции</h2>
        </ng-template>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
            <product-card-component *ngFor="let product of products" [product]="product"></product-card-component>
        </div>

        <div class="text-center pt-5 pb-5 mb-1 text-secondary fst-italic" *ngIf="searchQuery && products.length === 0">
            Ничего не найдено
        </div>
    </section>
</section>
