<div class="modal fade show" tabindex="-1" #modalElement>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-image">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p class="fs-3 fw-bold w-75 text-end ms-auto">Посмотрите наши чайные коллекции!</p>
            </div>
            <div class="modal-footer border-0">
                <a routerLink="/products" class="btn btn-primary">Смотреть</a>
            </div>
        </div>
    </div>
</div>
