<div class="col d-flex justify-content-center">
    <div class="card w-75 d-flex align-items-center">
        <div class="card-body row align-items-center">
            <div class="product-image d-block col-lg-4 order-lg-1">
                <img class="card-img-top w-100" [src]="product.image" alt="Tea">
            </div>
            <div class="description col-lg-8 col">
                <h5 class="card-title">{{product.title}}</h5>
                <p>{{product.description}}</p>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center w-100">
            <h6 class="card-title">{{product.price}} руб.</h6>
            <a routerLink="/order" [queryParams]="{product: product.title}" class="btn btn-success w-50 hvr-rectangle-out">Купить</a>
        </div>
    </div>
</div>
