/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/* Аккордеон */
.accordion-button:not(.collapsed),
.accordion-button {
    background: var(--bs-primary);
    border-radius: var(--bs-border-radius-lg);
    margin-top: $spacer;
    color: var(--bs-white);
    font-weight: bold;
}

.accordion-button::after {
    filter: invert(1) brightness(2);
}

.accordion-button:focus {
    box-shadow: none;
}


/* Карусель */
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: white !important;
    border-radius: 50%;
    border: 1px solid #007bff;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.9;
    margin: 0 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    width: 15px;
    height: 15px;
    border: solid #007bff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.carousel-control-prev-icon {
    transform: rotate(135deg);
    margin-left: 6px;
}

.carousel-control-next-icon {
    transform: rotate(-45deg);
    margin-right: 6px;
}


/* Меню */
.nav-link.active {
    border-bottom: 2px solid gray;
}
